.escola{
   background-image:linear-gradient(#383D58, #00c0eb);
   background-attachment: fixed;
   color: white;
   display: flex;
   justify-content:center;
   align-items:center;
   padding:24px 0;

 
}
.cabeçalho{
    background-color: rgba(30, 119, 30, 0.867);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px;
}
*{
    margin:0;
    padding: 0;
}
.escola-conteúdo {
   width:35%;
}
.escola-titulo{
   padding:24px 0;

}
